<link rel="stylesheet" href="./angular/js/angular-block-ui/dist/angular-block-ui.min.css"/>

<div ng-init="$ctrl.load()">
    <div class="col-md-4 people-list" id="people-list">
        <div class="communication-home">
          <h3>Messages</h3>
          <small>lorem ipsum</small>
        </div>
        <ul class="list" style="background-color: #55c5cf;">
          <li class="clearfix contact-list">
            <rbx-contact  ng-repeat="contact in $ctrl.contacts" item="contact"></rbx-contact>
          </li>
        </ul>
    </div>

    <!-- ################ MENU ################ -->
    <div class="col-md-8 chat" style="background: #30b0bf;">
      <div class="tile nav">
        <ul class="nav nav-tabs chat-menu">

          <li class="nav-item menu-tile">
            <a data-toggle="pill" href="#messages">
              <div class="">
                <i class="fa fa-envelope-o"></i>
                <br>
                <small>New Messages</small>
              </div>
            </a>
          </li>

          <li class="nav-item menu-tile">
            <a data-toggle="pill" href="#messages">
              <div class="">
                <i class="fa fa-envelope-o"></i>
                <br>
                <small>Inbox</small>
              </div>
            </a>
          </li>

          <li class="nav-item  menu-tile">
            <a data-toggle="pill" href="#myNetwork">
              <div class="">
                <i class="fa fa-paper-plane-o"></i>
                <br>
                <small>Sent</small>
              </div>
            </a>
          </li>

          <li class="nav-item  menu-tile">
            <a data-toggle="pill" href="#myNetwork">
              <div class="">
                <i class="fa fa-archive"></i>
                <br>
                <small>Archive</small>
              </div>
            </a>
          </li>

          <li class="nav-item menu-tile">
            <a data-toggle="pill" href="#invitatons">
              <div class="">
                <i class="fa description"></i>
                <br>
                <small>Referall</small>
              </div>
            </a>
          </li>

        </ul>
    </div>
    <!-- ################ CONTENT ################ -->
    <div class="tab-content">
      <!-- ### MY NETWORK ### -->
      <div id="myNetwork" class="tab-pane fade">
        <div class="col-md-12 message-wrap text-center chat-history">
            <div class="msg-wrap">
                <div class="media msg ">
                    <div class="media-body text">
                        <h2>CONTACT</h2>
                          <table id="showArchievedProject" class="display" cellspacing="0" width="100%">
                            <thead>
                              <tr>
                                <th>Name</th>
                                <th>Action</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr ng-repeat="friend in contact">
                                <td>{{friend.name.value}}</td>
                                <td>
                                  <button data-toggle="modal" data-target="#{{'d' + friend.dbId}}" class="btn btn-danger msg-btn">
                                    DELETE
                                  </button>
                                  <!-- <button data-toggle="modal" data-target="#{{'e' + friend.dbId}}" class="btn btn-primary msg-btn">
                                    ADD TO LIST
                                  </button> -->
                                  <!--############# DELETE ########## -->
                                  <div id="{{'d' + friend.dbId}}" class="modal" role="dialog">
                                    <div class="modal-dialog">

                                      <!-- Modal content-->
                                      <div class="modal-content">
                                        <div class="modal-body">
                                          <b>{{friend.name.value}}</b><br/>

                                          Are you sure?
                                        </div>
                                        <div class="modal-footer">
                                          <button type="button" ng-click="deleteContact(friend)" class="btn btn-success" data-dismiss="modal">Yes</button>
                                          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <!--############# ADD TO LIST ########## -->
                                  <div id="{{'e' + friend.dbId}}" class="modal" role="dialog">
                                    <div class="modal-dialog">
                                      <!-- Modal content-->
                                      <div class="modal-content">
                                        <div class="modal-body">
                                          Add List
                                          <select class="form-control" ng-model="selectedContact">
                                            <option value="">---Select Name List---</option>
                                          </select>
                                        </div>
                                        <div class="modal-footer">
                                          <button type="button" ng-click="addList(friend)" class="btn btn-success" data-dismiss="modal">Yes</button>
                                          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                    </div>
                </div>
            </div>
      </div>
    </div>
      <!-- ### INVITATION ### -->
      <div id="invitatons" class="tab-pane fade">
        <div class="col-md-12 message-wrap text-center chat-history">
            <div class="msg-wrap">
                <div class="media msg ">
                    <div class="media-body">
                        <img class="project-icon" src="./dist/img/img/Referall-01.png">
                        <br>
                        <h4 class="card-title">You have no pending invitation and no invitation has been sent.</h4>
                        <p class="card-text">Invite people to join your network</p>
                        <button type="button" class="btn btn-primary msg-btn" data-toggle="modal" data-target="#inviteModal">Invite</button>
                    </div>
                </div>
            </div>
            <div class="msg-wrap">
                <div class="media msg ">
                    <div class="media-body">
                        <img src="dist/img/profile-pic.png" class="img-circle" style="width: 17%;
                          height: auto;
                          border: 8px solid #5fb7bf;">
                        <br>
                        <h4 class="card-title">You have invitation from john@doe.com</h4>
                        <p class="card-text">Received at 30 Nov 2017</p>
                        <button type="button" class="btn btn-success msg-btn" data-toggle="modal" data-target="#video">Accept</button>
                        <button type="button" class="btn btn-danger msg-btn">Decline</button>
                    </div>
                </div>
            </div>
        </div>
      </div>

      <div class="animated fadeInUp">
        <div id="video" class="modal" role="dialog" name="mycalling">
            <div class="container vid-container">

                <!-- Add theses tags in your HTML file -->
                <video id="minivideo" autoplay muted></video>
                <video id="largevideo" autoplay></video>
                <video id="globalVideoTag" autoplay style="display:none;"></video>
                <audio id="globalAudioTag" autoplay style="display:none;"></audio>
                <div class="row button-row">
                  <div class="col-md-4 button-placeholder">
                    <button type="button" class="btn btn-success call-vid-btn">
                      <i class="fa fa-phone"></i>
                    </button>
                  </div>
                  <div class="col-md-4 button-placeholder">
                    <button type="button" class="btn btn-danger call-vid-btn">
                      <i class="fa fa-phone" style="transform: rotate(135deg);"></i>
                    </button>
                  </div>
                  <div class="col-md-4 button-placeholder">
                    <button type="button" class="btn btn-primary call-vid-btn">
                      <i class="fa fa-microphone"></i>
                    </button>
                  </div>
                </div>

            </div>
        </div>
      </div>
      <!-- ### MY LISTS ### -->
      <!-- ### INVITATION ### -->
      <div id="invitatons" class="tab-pane fade">
        <div class="col-md-12 message-wrap text-center" style="background: #fff;">
            <div class="msg-wrap">
                <!-- <div class="media msg " ng-if="invitations.length < 1">
                    <div class="media-body">
                        <i class="fa fa-users"></i>
                        <br>
                        <h4 class="card-title">You have no pending invitation and no invitation has been sent.</h4>
                        <p class="card-text">Invite people to join your network</p>
                        <button type="button" class="btn btn-primary msg-btn" data-toggle="modal" data-target="#inviteModal">Invite</button>
                    </div>
                </div> -->
                <rbx-invitation  ng-repeat="item in invitations" ng-if="invitations.length >= 1" item="item"></rbx-invitation>
            </div>
        </div>
      </div>
      <!-- ### MY LISTS ### -->
      <div id="myLists" class="tab-pane fade">
          <div class="col-md-12 message-wrap text-center" style="background: #fff;">
              <div class="msg-wrap">
                  <div class="media msg ">
                      <div class="media-body text">
                          <div class="media msg ">
                              <div class="media-body">
                                  <i class="fa fa-users"></i>
                                  <br>
                                  <h4 class="card-title">Organize a set of contacts and group them together.</h4>
                                  <!-- <p class="card-text">Invite people to join your network</p> -->
                                  <button type="button" class="btn btn-primary msg-btn" data-toggle="modal" data-target="#createListModal">Create a list</button>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- ### MESSAGES ### -->
      <div id="messages" class="tab-pane fade in active">
          <div class="col-md-12 message-wrap" style="background: #fff;">

                      <div class="media-body text">
                          <div class="col-md-12 chat-panel"><rbx-conversations name="rbxConversation"></rbx-conversations></div>
                      </div>

          </div>
      </div>
    </div>
  </div>

      <!-- end chat-header -->
      <!-- end chat-message -->




<div class="modal" id="inviteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title text-center" id="exampleModalLabel">INVITE PEOPLE TO JOIN NETWORK</h5>
      </div>
      <div class="modal-body">

        <p>Seacrh and invite exiting users or invite new users by their email address</p>
        <div class="form-group">
          <label for="exampleFormControlSelect1">Find Contact</label>
          <select class="form-control" ng-model="selectedContact">
            <option value="">---Select Name---</option>
            <option ng-repeat="user in contact" value="{{user}}">
                {{user.name.value}}
            </option>
          </select>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button ng-click="invite(selectedContact)" type="button" class="btn btn-primary">Apply</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="createListModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title text-center" id="exampleModalLabel">CREATE LIST</h5>
      </div>
      <div class="modal-body">
        <form ng-submit="onCreateList()">
          <div class="form-group">
            <label for="list-name">List name :</label>
            <input type="text" class="form-control" name="listName" ng-model="listName" id="listName">
          </div>
          <div class="form-group">
            <label for="list-description">List description (optional) :</label>
            <input type="text" class="form-control" name="listDescription" ng-model="listDescription" id="listDescription">
          </div>
          <button ng-submit="onCreateList()" class="btn btn-primary">Create</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->


      </div>

      <!-- ### ARCHIEVED ### -->
      <div id="archieved" class="tab-pane fade">

      </div>
    </div>


</div>
